---
http_interactions:
- request:
    method: get
    uri: https://devapps-restapi.ottawa.ca/devapps/search?appStatus=all&appType=all&authKey=4r5T2egSmKm5&bounds=0,0,0,0&searchText=D07-12-15-0017&ward=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ott-Cache:
      - '10'
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-9997029-9996230 PNYN RT(1705288604476 100) q(0 0 0 -1) r(1 1) U24
    body:
      encoding: ASCII-8BIT
      string: '{"devApps":[],"totalDevApps":0,"index":0,"limit":0}'
  recorded_at: Mon, 15 Jan 2024 03:16:44 GMT
recorded_with: VCR 6.1.0
