---
http_interactions:
- request:
    method: get
    uri: https://devapps-restapi.ottawa.ca/devapps/search?appStatus=all&appType=all&authKey=4r5T2egSmKm5&bounds=0,0,0,0&searchText=D07-12-15-0165&ward=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ott-Cache:
      - '27'
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 52-5128015-5127979 PNYy RT(1740246139960 9) q(0 0 0 -1) r(1 1) U24
    body:
      encoding: ASCII-8BIT
      string: '{"devApps":[],"totalDevApps":0,"index":0,"limit":0}'
  recorded_at: Sat, 22 Feb 2025 17:42:20 GMT
recorded_with: VCR 6.3.1
