---
http_interactions:
- request:
    method: get
    uri: https://maps.ottawa.ca/proxy/proxy.ashx?f=json&https://maps.ottawa.ca/arcgis/rest/services/Property_Parcels/MapServer/2/query?where=OBJECTID%3E0&outFields=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '1666053435'
      X-Esri-Ftiles-Cache-Compress:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"displayFieldName":"RT_ROAD_NAME_ID","fieldAliases":{"OBJECTID":"OBJECTID","PIN":"PIN","EASTING":"EASTING","NORTHING":"NORTHING","PUBLICLAND":"PUBLICLAND","PARCELTYPE":"PARCELTYPE","TEXTHEIGHT":"TEXTHEIGHT","TEXTWIDTH":"TEXTWIDTH","TEXTROTATION":"TEXTROTATION","PI_MUNICIPAL_ADDRESS_ID":"PI_MUNICIPAL_ADDRESS_ID","RECORD_OWNER_ID":"RECORD_OWNER_ID","RT_ROAD_NAME_ID":"RT_ROAD_NAME_ID","ADDRESS_NUMBER":"ADDRESS_NUMBER","ROAD_NAME":"ROAD_NAME","SUFFIX":"SUFFIX","DIR":"DIR","MUNICIPALITY_NAME":"MUNICIPALITY_NAME","LEGAL_UNIT":"LEGAL_UNIT","ADDRESS_QUALIFIER":"ADDRESS_QUALIFIER","POSTAL_CODE":"POSTAL_CODE","ADDRESS_STATUS":"ADDRESS_STATUS","ADDRESS_TYPE_ID":"ADDRESS_TYPE_ID","PIN_NUMBER":"PIN_NUMBER","FEAT_NUM":"FEAT_NUM","PI_PARCEL_ID":"PI_PARCEL_ID","Shape_Length":"Shape_Length","Shape_Area":"Shape_Area"},"geometryType":"esriGeometryPolygon","spatialReference":{"wkid":102100,"latestWkid":3857},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID"},{"name":"PIN","type":"esriFieldTypeString","alias":"PIN","length":50},{"name":"EASTING","type":"esriFieldTypeDouble","alias":"EASTING"},{"name":"NORTHING","type":"esriFieldTypeDouble","alias":"NORTHING"},{"name":"PUBLICLAND","type":"esriFieldTypeString","alias":"PUBLICLAND","length":30},{"name":"PARCELTYPE","type":"esriFieldTypeString","alias":"PARCELTYPE","length":10},{"name":"TEXTHEIGHT","type":"esriFieldTypeDouble","alias":"TEXTHEIGHT"},{"name":"TEXTWIDTH","type":"esriFieldTypeDouble","alias":"TEXTWIDTH"},{"name":"TEXTROTATION","type":"esriFieldTypeDouble",[...]
