---
http_interactions:
- request:
    method: get
    uri: https://city-of-ottawa-dev.apigee.net/open311/v2/services.xml?jurisdiction_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Etag:
      - W/"89972-1616393230834"
      Last-Modified:
      - Mon, 22 Mar 2021 06:07:10 GMT
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?><services><service><service_code>2000031-1</service_code><service_name>Disabled parking spaces</service_name><description>Use this service to report a specific parking issue:

        - Disabled parking spaces

        Please note that your contact information (first name, last name, phone number, email and address) is mandatory for this service. You can call 311 at any time for help if you experience difficulties completing this request from your mobile device. For all emergency requests call 3-1-1. If this service is not available to you please call 613-580-2400.</description><metadata>true</metadata><type>realtime</type><keywords>disabled,accessible,handicapped,permit,parking,illegal</keywords><group>Parking</group></service><service><service_code>2000031-2</service_code><service_name>Fire hydrant or route</service_name><description>Use this service to report a specific parking issue:

        - Fire hydrant or route

        Please note that your contact information (first name, last name, phone number, email and address) is mandatory for this service. You can call 311 at any time for help if you experience difficulties completing this request from your mobile device. For all emergency requ[...]
