---
http_interactions:
- request:
    method: get
    uri: https://city-of-ottawa-dev.apigee.net/open311/v2/requests.xml?end_date=2021-08-02T00:00:00Z&jurisdiction_id=&start_date=2021-08-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Ntcoent-Length:
      - '3795'
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><service_requests><request><service_request_id>202108160534</service_request_id><status>Open</status><status_notes>Being
        Reviewed - The service request is currently being reviewed.</status_notes><service_name>Pothole
        on the Road</service_name><service_code>2000164-2</service_code><description>Roads
        Maintenance / Travelled Surface / Pothole on the Road</description><agency_responsible></agency_responsible><service_notice></service_notice><requested_datetime>2021-08-01T16:05:34-04:00</requested_datetime><updated_datetime>2021-08-01T17:05:34-04:00</updated_datetime><expected_datetime></expected_datetime><address>KANATA
        AVE and WALDEN DR</address><address_id></address_id><zipcode></zipcode><lat>45.3237004</lat><long>-75.9232602</long><media_url></media_url></request><request><service_request_id>202108114246</service_request_id><status>Open</status><status_notes>The
        service request has been received.</status_notes><service_name>Cat Disturbance</service_name><service_code>2003023-1</service_code><description>Bylaw
        Services / Animals / Cat Disturbance</description><agency_responsible></agency_responsible><service_notice></service_notice><requested_datetime>2021-08-01T11:42:46-04:00</requested_datetime><updated_datetime>202[...]
