<h1>ServiceRequests#index</h1>

<table class="table table-bordered table-hover table-condensed">

<tr>

<%
cols = @service_requests.first.attributes.keys || []
cols.each do |k|
  %><th><%= k %></th>
  <%
end
%>
</tr>

<%
@service_requests.each do |sr|
  %>
  <tr>
    <% cols.each do |k| %>
      <td><%= sr.attributes[k] %></td>
    <% end %>
  </tr>
  <%
end
%>

</table>