<p class="lead">
  <b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
</p>

<h1>Recent announcements</h1>
<table>
<tr>
<th>Time</th>
<th>Message</th>
</tr>
<% @announcements.each do |a| %>
  <tr>
  <td><%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td><%= link_to(a.message, a.link_to_reference) %> <%= a.link_to_context %></td>
  </tr>
<% end %>
</table>

<a id="about"></a>
<h1>About/Contact</h1>

Twitter: @ottwatch or @kevinodotnet