<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Upcoming Meetings</h2>
</div>
<div class="owrows">
  <% @meetings.each do |m| %>
    <% meeting_url = "/meeting/#{m.reference_id}#{m.reference_guid}" %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(m.start_time.in_time_zone("America/New_York").strftime("%b %d %H:%M"), meeting_url) %>
      </div>
      <div class="col-md-9">
        <%= m.committee.name %>
      </div>
    </div>
  <% end %>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Features</h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <p>
    <%= link_to "Announcements", announcement_index_path %> are OttWatch's bread and butter. OttWatch scans ottawa.ca for
    new information so you don't have to.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
    The <a href="/devapp/index">DevApps</a> area is center stage for all development applications in the city. If someone is building
    something you can comment on it to staff before it goes to Committee for approval, and this section is where you can find all details
    about what people are planning to do.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
    <a href="/meeting/index">Commmittee meetings</a> are where it's at for influencing the city around you. Yes, you'll have more trouble
    having influence at the <a href="https://pressprogress.ca/ottawas-police-board-is-facing-a-constitutional-challenge-over-strict-rules-limiting-speakers-at-public-meetings/">Ottawa Policy Board</a>
    than at city committes, but an opportunity still exists. Don't wait to hear about a city decision after it's been made: attend a meeting
    today and have your say.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <p>
    To track influence, our <a href="/lobbying/index">lobbying</a> database provides easy access to the city's Lobbyist Registry.
    Corporate intersests are always trying to influence the city, so it's good to know who's up to what, so we can influence right back.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
    In the less-politics-more-transit department, we have a
    <%= link_to "Next Bus", transpo_show_stop_path %>
    section. Very simple. No frills. But I personally like it that way.
    Google "BusBuddy" for a full featured system, which I also use.
    </p>
  </div>
  <div class="col-sm-4">
    <p>
    There's a <a href="https://shop.ottwatch.ca/">shop</a> where you can buy a mug.
    There's a silly live database of <a href="/service_requests/index">311 Requests</a> as they arrive.
    Catch the <a href="https://ottwatch.ca/?format=rss">old-school RSS feed</a>: you know what to do.
    </p>
  </div>
</div>