<div style="margin-top: 50px;">
<center>
<b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
<br/>
Version: <%= Version.current %><br/>
<br/>
Time: <%= Time.now.utc %><br/>
<br/>
<%=
link_to("Random Campaign Donation", :controller => "elections", :action => "donation", :id => CandidateDonation.order("rand()").limit(1).first.id)
%>
</center>
</div>
