<div class="row">
  <div class="col-sm-12" style="padding: 20px;">
    <b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.
    An <a href="https://ottwatch.ca/?format=rss">old-school RSS feed</a> can be used to get the latest
    updates, or see below for the most recent anouncements.
  </div>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Upcoming Meetings</h2>
</div>
<div class="owrows">
  <% @meetings.each do |m| %>
    <% meeting_url = "/meeting/#{m.reference_id}#{m.reference_guid}" %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(m.start_time.in_time_zone("America/New_York").strftime("%b %d %H:%M"), meeting_url) %>
      </div>
      <div class="col-md-9">
        <%= m.committee.name %>
      </div>
    </div>
  <% end %>
</div>

<hr/>

<div>