<div style="margin-top: 50px;">
<center>
<b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
<br/>
Version: <%= Version.current %><br/>
<br/>
Time: <%= Time.now.utc %><br/>
</center>
</div>

<%= link_to "Development Applications", devapp_index_path %>
