<div data-map-target="popupTemplate" style="display: none;">
  <div class="card border-0">

    <div class="card-body p-0">
      <h5 class="card-title" data-map-popup-target="appNumber"></h5>
      <h6 class="card-subtitle mb-2 text-muted" data-map-popup-target="appType"></h6>
      <p class="card-text mb-1">
        <span class="badge bg-secondary" data-map-popup-target="status"></span>
      </p>
      <p class="card-text mb-1" data-map-popup-target="description"></p>
      <a href="#" class="card-link" data-map-popup-target="viewDetails">View Details</a>
    </div>
  </div>
</div>
