/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .app-notice {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 150%;
  font-weight: bold;
  border: solid 3px #f5a442;
  background: #f0f0f0;
 }

 .app-alert {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 150%;
  font-weight: bold;
  background: #f0f0f0;
  border: solid 3px #f54842;
 }

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
}

.new_announcement_badge {
  color: #7aa126;
}

.owrows {
  /* border-top: solid 1px #c0c0c0;
  border-bottom: solid 1px #c0c0c0;
  */
}
.owrows .row:nth-child(odd) {
  background: #f0f0f0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.owrows .row:nth-child(even) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ow_footer {
  margin-top: 25px; 
  padding: 10px; 
  background: #f0f0f0;
  /* border: solid 1px #c0c0c0; */
  font-size: 90%;
  font-style: italic;
}

.camera-grid {
  display: flex;
  flex-wrap: wrap;
}

.camera-item {
  width: 150px;
  height: 150px;
}

.camera-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}