<h1>Campaign return for <%= link_to(@campaign_return.candidate.name, candidate_url(@campaign_return.candidate)) %></h1>

<table>
<%
@campaign_return.attributes.keys.reject{|k| k == "name" }.each do |k|
  %>
  <tr>
  <td><%= k %>
  <td><%= @campaign_return.send(k.to_sym) %></td>
  </tr>
  <%
end
%>
</table>

pages:
<%
@campaign_return.campaign_return_pages.each do |p|
  %>
  &nbsp;
  &nbsp;
  <%= link_to(p.id, campaign_return_page_path(p), data: { turbo: "false" }) %>
  <%
end
%>