<div data-map-target="popupTemplate" style="display: none;">
  <div class="card border-0">
    <div class="card-body p-0">
      <h5 class="card-title" data-map-popup-target="name"></h5>
      <h6 class="card-subtitle mb-2 text-muted">Camera #<span data-map-popup-target="camera_number"></span></h6>
      <p class="card-text mb-1">
        <span class="badge bg-secondary" data-map-popup-target="camera_owner"></span>
      </p>
      <a href="#" class="card-link" data-map-popup-target="viewDetails">View Camera</a>
    </div>
  </div>
</div>